<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

    <img src="<%= 'https://s3-us-west-2.amazonaws.com/' + imageUrl %>" />

    <br /><br />

    <a href="/">&lt-- list of files</a>

</body>
</html>
