<html>
<head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div class="container">

        <div class="alert alert-info">
            File <strong><%= fileName %></strong> has been successfully uploaded<br />
            <a  class="alert-link" href="/upload">upload more files</a> or
            <a class="alert-link" href="/">return to files list</a>
        </div>

    </div>
</body>
</html>
